h1 {
  text-align: center;
  font-size: 5em;
  margin: 20px auto;
}

h2 {
  text-align: center;
  margin: 10px;;
}

h3 {
font-size: 2em;
}

.hidden-text {
  display: none;
}

.button {
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  width: 200px;
  height: 50px;
  margin: 0 auto;

}

.board {
  text-align: center;
  width: 300px;
  height: 300px;
  align-items: center;
  margin: 0 auto;
}

table {
  width: 9vw;
  text-align: center;
  margin-top: 25px;
}

tr {
}

td {
}

.box {
  width: 100px;
  height: 100px;
  margin: 0;
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: solid;
}

.clear {
  display: none;
}
